<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="#"><img src="/static/assets/images/download.png" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="#"><img src="/static/assets/images/download.png"
          alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown"> 
            <a class="dropdown-item" href="../profile">
              <img style="width: 32px;" src="/static/assets/images/user.png" id="profile_image" alt=""></a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown"> 
            <a class="dropdown-item" href="/logout">
              <!-- <img src="/static/assets/images/logout.png" alt="" style="width: 20px;">logout </a> -->
              <i class="fa fa-sign-out" aria-hidden="true"></i>
logout </a>
              

        </li>
      </ul>

      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>