<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../getLogindata">
        <span class="menu-title">Dashboard</span>
        <img
          src="/static/assets/images/home.png"
          alt=""
          style="width: 17px; margin-left: 102px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../profile">
        <span class="menu-title">User</span>
        <img  src="/static/assets/images/user.png" id="profile_image" alt=""
          style="width: 21px;margin-left: 145px;""></a>
      </a>
    </li>


     <li class="nav-item">
      <a class="nav-link" href="../viewAllreports">
        <span class="menu-title">Reports</span>
        <img
        src="/static/assets/images/report.png"
          alt=""
          style="width: 22px;margin-left: 121px;"
        />
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="../viewAllTemplates">Templates  <img  src="/static/assets/images/template.png" id="profile_image" alt=""
          style="width: 21px;margin-left: 110px;"> </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="../superAdmin">
        <span class="menu-title">Log-in Users</span>
        <img
          src="/static/assets/images/setting.png"
          alt=""
          style="width: 19px; margin-left: 102px"
        />
      </a>
    </li>
  </ul>
</nav>

<!-- delete soon -->
<!-- <li class="nav-item">
          <a class="nav-link" href="#template-messages" data-bs-toggle="collapse" aria-expanded="false"  aria-controls="message-pages">
            <span class="menu-title">Template Messages</span>
            <i class="menu-arrow"></i>
            <img src="/static/assets/images/send.png" alt="" style="width: 17px;">
          </a>
          <div class="collapse" id="template-messages">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="../templateMessage">Messages</a></li>
              <li class="nav-item"> <a class="nav-link" href="../templateMsgHistory">History</a></li>
              <li class="nav-item"> <a class="nav-link" href="../viewAllTemplates">View your Templates list</a></li>
            </ul>
          </div>
        </li> -->

<!-- <li class="nav-item">
        <a class="nav-link" href="#custom-pages" data-bs-toggle="collapse" aria-expanded="false" aria-controls="message-pages">
          <span class="menu-title">Custom Messages</span>
          <i class="menu-arrow"></i>
          <img src="/static/assets/images/send.png" alt="" style="width: 17px;">
        </a>
        <div class="collapse" id="custom-pages">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../customMessage">Messages</a></li>
            <li class="nav-item"> <a class="nav-link" href="../customMsgHistory">History</a></li>
          </ul>
        </div>
      </li> -->

<!-- <li class="nav-item">
        <a class="nav-link" href="../chating">
          <span class="menu-title">Live Chat</span>
          <img src="/static/assets/images/chat.png" alt="" style="width: 17px; margin-left: 109px;">
        </a>
      </li> -->

<!-- <li class="nav-item">
        <a class="nav-link" href="../contacts">
          <span class="menu-title">import contacts</span>
          <img src="/static/assets/images/contact-book.png" alt="" style="width: 17px; margin-left: 66px;">
        </a>
      </li> -->

<!--
      <li class="nav-item">
        <a class="nav-link" href="../campaigns">
          <span class="menu-title">campaigns</span>
        </a>
      </li> -->

<!-- <li class="nav-item">
        <a class="nav-link" href="../setting">
          <span class="menu-title">Settings</span>
          <img src="/static/assets/images/setting.png" alt="" style="width: 19px; margin-left: 102px;">
        </a>
      </li> -->
