<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Template Message</title>
  </head>
  <body>
    <h1>Send Template Message</h1>
    <form action="/sendtemplateMessage" method="POST">
      <label for="recipients">Recipients (comma-separated):</label>
      <input
        type="text"
        id="recipients"
        name="recipients"
        required
      /><br /><br />
      <label for="template">Template:</label>
      <div class="form-group">
        <select
          name="selectTemp"
          id="tempOfBtn"
          class="w-100 text-secondary p-2"
        >
          <option value="">Please Select Template</option>
        </select>
        <p class="text-danger" id="selError"></p>
      </div>
      <br /><br />
      <button type="submit">Send Message</button>
    </form>
  </body>
  <script>
    const selectElement = document.getElementById("tempOfBtn");

    // API URL
    const apiUrl =
      "https://graph.facebook.com/v19.0/239145135951200/message_templates?fields=name,language=en_US,status=APPROVED";

    // Fetch data from the API
    fetch(apiUrl, {
      headers: {
        Authorization: `Bearer EAAWqeZCMrJ6sBO2nZCLcUirtdE77KegWssKhPymZAtDitZBR29TwEQ9INU5NQXOURqcieZBKg8B4ZCSszXQX3yjBkB8VrZBey0t7CD2wzCPFTHYJjhNDcSOZACJtXlPdrwpqZA27QCsweZBssZBClpJFSMHPhTbuD6QjkGzzZBQBu17ppvr1SnzR6DjV1OO3vY8MjHYuffdcMNrlF9H6L12BVQkNhZBnZCrZAHjr1eU`,
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        // Iterate through the data and add options to the select element
        data.data.forEach((template) => {
          const option = document.createElement("option");
          option.value = template.name;
          option.textContent = template.name;
          selectElement.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
  </script>
</html>
